button {
  background-color: white;
  border-radius: 0;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  font-weight: 400;
}

button:active {
  background-color: white;
  transform: scale(95%);
}

button.panel {
  font-family: inherit;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--bg-dark);
}

button.panel:active, button.panel:hover, button.panel:focus {
  color: var(--bg-light);
  border: none;
  outline: none;
}