#cards {
  scroll-snap-type: y mandatory;
  margin-right: 0 auto;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 25em;
  width: 100%;
  scrollbar-width: none;
  scroll-snap-stop: always;
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column nowrap;
}

.todo {
  background-color: var(--bg-light);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px auto;
  padding: 20px;
  scroll-snap-align: center;
  width: 100%;
  flex: 1 0 25em;
}

.message {
  text-align: center;
}

.todo:last-of-type:not(:first-of-type) {
  flex: 0 1 10em;
  background-color: var(--bg-color);
  border: none;
  text-align: center;
}

.todo:first-of-type {
  margin-top: 0;
}

.title {
  font-weight: 600;
}

.card-row {
  margin-top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items:start;
}

.status-button-div {
  margin-left: auto;
}

.status-button {
  width: 16px;
  height: 16px;
  border: none;
  background-color: var(--bg-light);
  margin-right: 5px;
}

.status-button:active{
  color: var(--bg-color);
  background-color: var(--bg-light);
}

.play-button {
  background-image: url(../assets/play.svg);
}

.pause-button {
  background-image: url(../assets/pause.svg);
}

.check-button {
  background-image: url(../assets/check.svg);
}

.trash-button {
  background-image: url(../assets/trash.svg);
}

.completed-button {
  background-image: url(../assets/check-square.svg)
}

.project-name, .status {
  text-transform: uppercase ;
  font-size: .8rem;
}

.project-name {
  margin-bottom: 1rem;
}

.status {
  background-color: var(--bg-dark);
  padding: 2px 5px;
  color: var(--bg-light);
  border-radius: 4px;
  width: fit-content;
  margin-bottom: 1rem;
}

.description, .due-date-div, .priority-div, .notes-div, .status-div, .timescale-div {
  width: 100%;
  height: 1.25rem;
}

.notes-div {
  margin: 1rem 0;
}

.notes-head {
  font-weight: 600;
  margin-bottom: .5rem;
}

.notes {
  height: 6rem;
  text-wrap: wrap;
  overflow-y: auto;
  scrollbar-width: thin;
  margin-bottom: .5rem;
}

.timestamp {
  margin-top: auto;
  font-size: .6rem;
}

.message {
  text-align: center;
}