.confirm {
  background-color: lightcoral;
  padding: .25rem 1rem;
  animation-name: fade-in .75s;
  position: sticky;
  z-index: 3;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@keyframes fade-in {
  0% {
    background-color: var(--bg-color);
  }

  100% {
    background-color: lightcoral;
  }
}

.confirm button {
  font-size: inherit;
  background-color: inherit;
  border: none;
}


.confirm button:hover {
  font-weight: 600;
}

#undo {
  text-decoration: underline;
}

#exit {
  margin-left: auto;
}
