.confirm {
  background-color: lightcoral;
  padding: .25rem 1rem;
  animation: fade-in-out 5s 1 forwards;
  position: sticky;
  z-index: 3;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@keyframes fade-in-out {
  0% {
    background-color: var(--bg-color);
    visibility: hidden;
  }

  10% {
    background-color: lightcoral;
    visibility: visible;
    opacity: 1
  }

  60% {
    visibility: visible;
    opacity: 1
  }

  99% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.confirm-fadeout {
  animation: fadeout 1s;
}
@keyframes fadeout {
  0% {
    visibility: visible;
  } 

  100% {
    visibility: hidden;
  }
}

.confirm button {
  font-size: inherit;
  background-color: inherit;
  border: none;
}


.confirm button:hover {
  font-weight: 600;
}

#undo {
  text-decoration: underline;
}

#exit {
  margin-left: auto;
}
