* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

:root {
  font-family: system-ui, sans-serif;
  --bg-color: #84B68D;
  --bg-light: #e6f0e8;
  --bg-dark: #4f6d54;
  --low-contrast: #9cc4a3;
  --bg-darker: #374c3a;
  display: flex;
  font-size: 14px;

}


button, input, textarea, select {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}

body {
  background-color: var(--bg-color);
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: 50px 750px;
  justify-content: center;
  margin-right: auto;
}

header, main {
  grid-column: 2 / 3 ;
}

header {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--low-contrast);
}

header button {
  font-size: 1rem;
}

button {
  background-color: white;
  border-radius: 0;
  border: 1px solid white;
  padding: 1em;
  font-weight: 800;
}

#panel > button:active {
  border: 1px solid black;
}

main {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 20px;
  
}

#projects {
  font-size: 1.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

#projects h1 {
  display: flex;
  align-items: center;
}

.project {
  color: var(--low-contrast);
}

.current-project {
  color: var(--bg-darker);
}

.project-badge {
  font-size: .5em;
  margin-right: .5em; 
  background-color: var(--low-contrast);
  padding: .2em .4em;
  color: var(--bg-color);
}

.current-project > .project-badge {
  background-color: var(--bg-darker);
}

h1.project:hover:not(.current-project) {
  color: var(--bg-dark);
}

:not(.current-project):hover > span.project-badge {
  background-color: var(--bg-dark);
}

#cards {
  scroll-snap-type: y mandatory;
  margin-right: 0 auto;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 25em;
  width: 100%;
  scrollbar-width: none;
  scroll-snap-stop: always;
  background-color: var(--bg-color);
}