* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

:root {
  font-family: system-ui, sans-serif;
  --bg-color: #84b68d;
  --bg-light: #e6f0e8;
  --highlight: #d6e6d9;
  --bg-dark: #4f6d54;
  --low-contrast: #9cc4a3;
  --bg-darker: #374c3a;
  display: flex;
  font-size: 14px;

}


button,
input,
textarea,
select {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}

body {
  background-color: var(--bg-color);
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 50px 750px;
  justify-content: center;
  margin-right: auto;
}

header,
main {
  grid-column: 2 / 3;
}

header {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  color: var(--low-contrast);
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

header > h1:hover {
  color: var(--bg-light);
}

header button {
  font-size: 1rem;
}

button {
  background-color: white;
  border-radius: 0;
  border: 1px solid white;
  padding: 1em;
  font-weight: 800;
}

#panel > button:active {
  border: 1px solid black;
}

main {
  transform: translateY(-40px);
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 20px;
}

#projects {
  margin-top: 60px;
  font-size: 1.25rem;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 400px;
}

#projects h1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
}

.project {
  color: var(--low-contrast);
}

.project-badge {
  font-size: 16px;
  margin-right: 1em;
  background-color: var(--low-contrast);
  padding: 4px 8px;
  color: var(--bg-color);
  transform: translateY(8px);
}

.current-project {
  color: var(--bg-light);
}

.current-project > .project-badge {
  background-color: var(--bg-light);
}

h1.project:hover:not(.current-project) {
  color: var(--bg-dark);
}

:not(.current-project):hover > span.project-badge {
  background-color: var(--bg-dark);
}

#content {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}