* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

:root {
  font-family: system-ui, sans-serif;
  --bg-color: #84b68d;
  --bg-light: #e6f0e8;
  --highlight: #d6e6d9;
  --bg-dark: #4f6d54;
  --low-contrast: #9cc4a3;
  --bg-darker: #374c3a;
  display: flex;
  font-size: 14px;

}

input,
textarea,
select {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}

body {
  background-color: var(--bg-color);
  display: grid;
  grid-template-rows: 80px 30px 1fr;
  grid-template-columns: 100px 400px 300px 1fr ;
  justify-content: center;
  margin-right: auto;
}

header {
  grid-area: 1 / 2 / 2 / 4;
}

main {
  grid-row: 3 / 4 ;
  grid-column: 2 / 4;
}

#new-item{
  grid-area: 2 / 2;
    place-self: center end;
}

#overview{
  grid-area: 2 / 3;
  place-self: center end;
}

#new-project {
  grid-area: 2 / 3;
  place-self: center start;
}

.overlay-top {
  margin-top: 8px;
  display: block;
  background-image: linear-gradient(var(--bg-color), #84b68d00);
  height: 40px;
  grid-row: 3 / 4;
  grid-column: 2 / 5;
  position: relative;
  z-index: 2;
}

.panel {
  position: relative;
  z-index: 3;
}

header {
  padding-top: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
}

header > h1 {
  color: var(--low-contrast);
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

header > h1:hover {
  color: var(--bg-light);
}

header button {
  font-size: 1rem;
  background-color: var(--low-contrast);
  border: none;
}

header button:active {
  border: none;
}


main {
  transform: translateY(-40px);
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 500px;
  overflow-x: visible;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}