.title {
  font-weight: 600;
}

.title, .description, .due-date-div, .priority-div, .notes-div, .checklist-div {
  padding-bottom: .5em;
}

.todo {
  border: 1px solid black;
  padding: 1rem;
}

.priority-head {
  padding-right: .5em;
}

.priority-div {
  display: flex;
  align-items: baseline;
}

select {
  font-size: .9em;  

}

.notes-head {
  font-weight: 600;
}

.checklist {
  list-style: none;
}

.checklist input {
  margin-right: .5em;
}

.timestamp {
  font-size: .6em;
}
