.todo {
  background-color: var(--bg-light);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px auto;
  width: 100%;
  padding: 20px;
  scroll-snap-align: center;
  height: 340px;
}

.title {
  font-weight: 600;
}

.project-name {
  text-transform: uppercase ;
  font-size: .8rem;
  margin-bottom: 1rem;
}

.description, .due-date-div, .priority-div, .notes-div, .status-div, .timescale-div {
  width: 100%;
  height: 1.25rem;
}

.notes-div {
  margin: 1rem 0;
}

.status-div {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

.notes-head {
  font-weight: 600;
  margin-bottom: .5rem;
}

.notes {
  height: 6rem;
  text-wrap: wrap;
  overflow-y: auto;
  scrollbar-width: thin;
  margin-bottom: .5rem;
}

.timestamp {
  margin-top: .25rem;
  font-size: .6rem;
}

.message {
  text-align: center;
}