.todo {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px auto;
  width: 100%;
  height: 20em;
  padding: 20px;
}

.title {
  font-weight: 600;
}

.project-name {
  text-transform: uppercase ;
  font-size: .8em;
  margin-bottom: 2rem;
}

.description, .due-date-div, .priority-div, .notes-div, .checklist-div, .status-div, .timescale-div {
  width: 100%;
  height: 1.5rem;
}

.notes-div {
  margin-top: 1rem;
}



.timestamp {
  font-size: .6em;
}
.status-div {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

.notes-head {
  font-weight: 600;
}

.checklist {
  list-style: none;
  height: 4em;
}

.notes {
  height: 4em;
}

.notes, .checklist {
  overflow: scroll;
}



