* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#panel > button {
  background-color: none;
  border-radius: 0;
  border: 1px solid white;
  padding: 1em;
  font-weight: 800;
}

#panel > button:active {
  border: 1px solid black;
}

#content > div {
  display: grid;
  grid-template-columns: repeat(6,14em);
  gap: 10px;
}