* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

:root {
  font-family: system-ui, sans-serif;
}


button, input, textarea, select {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}

header {
  margin: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


button {
  background-color: none;
  border-radius: 0;
  border: 1px solid white;
  padding: 1em;
  font-weight: 800;
}

#panel > button:active {
  border: 1px solid black;
}

body, header, main {
  background-color: lightgray;
}

#content {
  width: 100%;
}

#content > div {
  width: 20em;
  margin: 0 auto;
  background-color: white;
  display: grid;
  grid-template-rows: repeat(auto,20em);
  gap: 10px;
  overflow: scroll;
  padding: 1em;
  height: 50vh;

}